main {
  font-family: "Work Sans", sans-serif;
  width: 375px;
  height: 812px;
}

h3 {
  font-size: 24px;
  font-weight: 500;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 7px;
}

.box-1 {
  width: 360px;
  height: 650px;

  background-color: #f9f7f6;
  border-radius: 13px;

  padding-top: 20px;
}

.d-vitamin-flex-1 {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.d-vitamin-flex-1 p {
  font-size: 24px;
  font-weight: 500;

  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0;
}

.d-vitamin-flex-1 .grey-text {
  color: #a1a1a1;
  font-size: 18px;
  align-self: center;
  font-weight: 400;
}

.d-vitamin-flex-2 {
  display: flex;
  flex-direction: row;

  gap: 5px;
}

.d-vitamin-flex-2 p {
  font-size: 18px;
  font-weight: 400;
}

.d-vitamin-flex-2 .grey-text {
  color: #a1a1a1;
  font-size: 18px;
  align-self: center;
  font-weight: 400;
}

#price {
  font-size: 18px;
  margin-top: 0;
  font-weight: 500;
}

.box-1-top {
  padding-left: 20px;
}

.box-1 p {
  font-weight: 500;
}

.box-1 img {
  width: 30px;
  height: 30px;
  align-content: center;
}

.d-vitamin-flex-3 {
  display: flex;
  flex-direction: row;
  gap: 10px;

  align-items: center;
}

hr {
  width: 90%;
  color: #c4c4c4;
  border-radius: 5px;
}

.flex-1 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.flex-1 p {
  font-size: 18px;
  font-weight: 500;
  padding-left: 20px;
}

/* DROPDOWN BUTTON */

.dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {
  display: inline-block;
  padding: 10px 30px 10px 20px;
  background-color: #e8e6e5;
  cursor: pointer;
  white-space: nowrap;
}

.dd-button:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.dd-button:hover {
  background-color: #eeeeee;
}

.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  list-style-type: none;

  z-index: 1;
}

.dd-input + .dd-menu {
  display: none;
}

.dd-input:checked + .dd-menu {
  display: block;
}

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
  font-weight: 400;
  font-size: 16px;
}

.dd-menu li:hover {
  background-color: #e8e6e5;
}

/* DROPDOWN 2 */

.dd-button-1 {
  display: inline-block;
  padding: 10px 30px 10px 20px;
  background-color: #e8e6e5;
  cursor: pointer;
  white-space: nowrap;
  margin-left: 92px;
  z-index: 0;
}

.dd-button-1:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.dd-button-1:hover {
  background-color: #eeeeee;
}

.dd-input {
  display: none;
}

.dd-menu-1 {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  list-style-type: none;
  z-index: 1;
}

.dd-input + .dd-menu-1 {
  display: none;
}

.dd-input:checked + .dd-menu-1 {
  display: block;
}

.dd-menu-1 li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
  font-weight: 400;
  font-size: 16px;
}

.dd-menu-1 li:hover {
  background-color: #e8e6e5;
}

.dd-button-2 {
  display: inline-block;
  padding: 10px 20px 10px 20px;
  background-color: #e8e6e5;
  cursor: pointer;
  white-space: nowrap;
  margin-left: 158px;
  z-index: 0;
}

.dd-button-3 {
  display: inline-block;
  padding: 10px 20px 10px 20px;
  background-color: #e8e6e5;
  cursor: pointer;
  white-space: nowrap;
  margin-left: 50px;
}

.dd-button-4 {
  display: inline-block;
  padding: 15px 20px 15px 20px;
  background-color: #d2cbc5;
  cursor: pointer;
  white-space: nowrap;
  margin-left: 40%;
  margin-top: 10px;
  font-size: 20px;
}

.box-2 {
  width: 360px;
  height: 650px;

  background-color: #f9f7f6;
  border-radius: 13px;

  padding-top: 20px;
  margin-top: 20px;
}

.box-2-top {
  padding-left: 20px;
}

.box-2 p {
  font-weight: 500;
}

.box-2 img {
  width: 30px;
  height: 30px;
  align-content: center;
}

.box-3 {
  width: 360px;
  height: 300px;

  background-color: #dddbd982;

  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#paused-text {
  padding-left: 20px;
  font-size: 24px;
  font-weight: 500;
  margin-top: 0;
}

.flex-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

#d-vitamin {
  font-size: 24px;
  font-weight: 500;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#box-3-tablets {
  padding-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;

  color: #a1a1a1;
  font-size: 18px;
  align-self: center;
  font-weight: 400;
}

#start-text {
  text-decoration: underline;
  color: black;
  padding-left: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.flex-3 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  padding-left: 20px;
}

.flex-3 .grey-text {
  color: #a1a1a1;
  font-size: 18px;
  align-self: center;
  font-weight: 400;
}

#price-2 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  padding-left: 20px;
}

#date {
  margin-top: 40px;
  padding-left: 20px;
  font-size: 18px;
}

/* MEDIA QUERIES */

@media (min-width: 640px) {
  main {
    width: 1080px;
    background-color: lightyellow;
  }

  h3 {
    font-size: 38px;
    font-weight: 500;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 7px;
  }

  .box-1 {
    width: 890px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
  }

  .box-1-top {
    padding-top: 30px;
    padding-left: 50px;
  }

  .flex-1 p {
    padding-left: 50px;
  }

  /* DROPDOWN MEDIA QUERIES */
  .flex-1 {
    display: none;
  }

  hr {
    display: none;
  }
}

/* PAGE 2 - SUBSCRIPTION PAGE */

.box-4 {
  padding: 20px;
}

h4 {
  font-size: 24px;
  margin-bottom: 0;
}

.box-1-div1 p {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 5px;
}

#cursive-grey {
  color: #7e7e7e;
  font-style: italic;
}

.flex-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.flex-box img {
  width: 30px;
  height: 100%;
}

.box-1-div2 p {
  font-weight: 500;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 0;
}

#track-here-underline {
  color: black;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.box-5 img {
  width: 30px;
  height: 100%;
  padding-left: 20px;
}

.box-5-div1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;

  font-size: 20px;
  font-weight: 400;
}

.box-6 h2 {
  font-size: 28px;
  font-weight: 500;
  margin-top: 40px;
}

.box-6 p {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.container-ingredients {
  display: flex;
  margin-top: 40px;
  background-color: #e5e3e269;
  width: 100%;
  height: 130px;
}

.image-ingredients {
  display: grid;
  grid-template-rows: 100px 100px;
  background-color: #e5e3e2;
  width: 130px;
  height: 130px;
}

.list-wrapper {
  margin-top: 50px;
  position: relative;
}
.list-item-wrapper {
  margin-top: 10px;
  position: relative;
}
.list-bullet {
  float: left;
  margin-right: 20px;
  background: #c8c3bb;
  height: 15px;
  width: 15px;
  line-height: 30px;
  border-radius: 100px;
  font-weight: 700;
  color: white;
  text-align: center;
}
.list-item {
  display: table-row;
  vertical-align: middle;
}
.list-title {
  font-weight: 700;
  margin-left: 0px;
}
.list-text {
  font-weight: 400;
  margin-left: 0px;
}
.grey-line {
  background: #c8c3bb;
  z-index: -1;
  width: 1px;
  height: 318px;
  position: absolute;
  left: 7px;
}
.white-line {
  background: #fff;
  z-index: -1;
  top: 0px;
  width: 1px;
  height: 100%;
  position: absolute;
  left: 15px;
}
